Builds*
*.debug
*.debug.ipa
*.debug.app
*.debug.app.*
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete*
.DS_Store
DistributionSummary.plist
ExportOptions.plist
Packaging.log
